/* .MuiDataGrid-row--lastVisible{
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.87) !important;
    font-size: 0.875rem !important;
} */

/* .MuiDataGrid-row--lastVisible{
    background-color: unset !important;
    color: unset !important;
    font-size: unset !important;
} */