*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.MuiDataGrid-toolbarContainer{
    background-color: #000;
}
.MuiDataGrid-columnHeaders{
    background-color: #000;
}